#main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}

.box-container {
  background: #fff !important;
  border: 1px solid #eee;
  margin-bottom: 10px;
}

.link,
.link:hover {
  text-decoration: none;
}
