* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@media screen and (max-width: 960px) {
  html,
  body,
  #root {
    overflow-x: hidden;
    height: 100%;
  }
}

body {
  background-color: #f8f9f9;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}
input:focus {
  box-shadow: none;
  outline: none;
}
