#skeleton-wrapper {
  background-color: #f2f3f4 !important;
  overflow: hidden;
  position: relative;
  top: 0px;
}

@keyframes lfr {
  from {
    transform: translate(0%);
  }
  to {
    transform: translate(100%);
  }
}

.header-skeleton {
  height: 100%;
  animation: lfr infinite 0.9s linear forwards;
}

.header-skeleton-indicator {
  width: 50%;
  height: 100%;
  background-color: #eaeded;
  box-shadow: 0 4px 10px 0 #eaeded;
}
