#product {
  background-color: #f8f9f9;
  padding: 50px 100px;
  margin-bottom: 70px;
}

hr {
  background-color: #eee;
}

.product-imgs img {
  width: 100%;
}

.feature-imgs {
  justify-content: space-evenly;
}

.product-info {
  background-color: #f8f9f9;
}

.product-name-wishlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

#prod-name {
  max-width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  /* background-color: #f76b1a; */
}

.product-name-wishlist .flaticon-heart {
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}

#prod-description {
  border: 1px solid #eee;
  background-color: #fff;
}

#prod-description h3 {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding: 10px;
}

#prod-description p {
  padding: 10px;
}

.price-rating {
  justify-content: space-between;
  padding: 20px 10px;
}

.price-rating h4 {
  font-size: large;
}

#features {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 20px;
}

#features h4 {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

#features ul {
  list-style: none;
}

.add-to-cart {
  background-color: #f76b1a;
  color: #fff;
  height: 40px;
  /* margin: 0px !imp; */
}

.add-to-cart:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 960px) {
  #product {
    background-color: #f8f9f9;
    padding: 20px;
  }

  .product-info {
    padding: 0px 10px;
  }
}
