#product {
  background-color: #f8f9f9;
  padding: 50px 100px;
  margin-bottom: 100px;
}

hr {
  background-color: #eee;
}

.product-imgs img {
  width: 100%;
}

.feature-imgs {
  justify-content: space-evenly;
}

.product-info {
  background-color: #f8f9f9;
}

#prod-name {
  margin: 20px 0px;
}

#prod-description {
  border: 1px solid #eee;
  background-color: #fff;
}

#prod-description h3 {
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
  padding: 20px;
}

#prod-description p {
  padding: 20px;
}

.price-rating {
  justify-content: space-between;
  padding: 20px 0px;
}

#features {
  background-color: #fff;
  border: 1px solid #eee;
  padding: 20px;
}

#features h4 {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

#features ul {
  list-style: none;
}

.add-to-cart {
  background-color: #f76b1a;
  color: #fff;
  height: 40px;
  margin: 0px !important;
}

@media screen and (max-width: 960px) {
  #product {
    background-color: #f8f9f9;
    padding: 20px;
  }

  .product-info {
    padding: 0px 20px;
  }
}
