.product-wrapper {
  margin-bottom: 70px;
}

#product {
  background-color: #f8f9f9;
  padding: 50px 100px;
}

/* hr {
  background-color: #eee;
} */

.stock-badge {
  border-radius: 3px;
  color: #fff;
}

.in-stock-badge {
  background-color: #f76b1a;
}

.out-of-stock-badge {
  background-color: red;
}

.product-imgs img {
  width: 100%;
}

.feature-imgs {
  justify-content: space-evenly;
}

.product-info {
  background-color: #f8f9f9;
}

.product-name-wishlist {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}

#prod-name {
  max-width: 70%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-price,
.product-rating {
  padding: 10px 10px;
}

.product-features-reviews-specifications {
  margin: 0px;
  padding: 20px;
}

.product-owl-carousel {
  position: relative;
  z-index: -5;
  background-color: #fff !important;
}

.product-owl-carousel div img {
  width: 50px;
}

.add-to-cart {
  background-color: #f76b1a;
  color: #fff;
  height: 40px;
}

.add-to-cart:focus {
  outline: none;
  box-shadow: none;
}

@media screen and (max-width: 960px) {
  #product {
    background-color: #f8f9f9;
    padding: 20px;
  }

  .product-info {
    padding: 20px 10px;
  }
}
