.dashboard-product-md-screen-image {
  height: 250px;
  width: 100%;
}

.db-md-top,
.db-md-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60%;
}

.db-md-top div img {
  height: 100px;
}

.db-md-bottom {
  height: 40%;
}

.seller-db-md-screen-price-status {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 10px;
}
