.drop-stuff {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  height: 300px;
}

.drop-stuff div {
  margin: auto;
}

/* #drop-zone {
  display: flex;
  align-items: center;
  flex-direction: column;
} */

/* @media screen and (max-width: 960px) {
  .drop-stuff {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    height: auto;
  }
} */
/* 
@media screen and (max-width: 420px) {
  .drop-stuff {
    height: auto;
  }
} */
