#hamburger-menu-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-self: start;
}

.seller-menu-section-wrapper {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7);
}

.seller-menu-slide-in {
  animation: slide-in 0.5s forwards;
}

@keyframes slide-in {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.seller-menu-slide-out {
  animation: slide-out 0.5s forwards;
}

@keyframes slide-out {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.seller-menu-section {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #00001e;
  width: 50%;
  padding: 0px 20px;
}

.seller-menu-section h6 {
  color: #f76b1a;
}

.seller-menu-section hr {
  color: #fff;
}

.seller-hamburger {
  margin-left: 20px;
}

.blank-menu-area {
  width: 50%;
}

.hamburg {
  height: 10%;
}

#seller-account-links,
#seller-others-links {
  width: 100%;
  list-style: none;
  max-height: 45%;
  overflow-y: auto;
  padding-left: 10px;
}

@media screen and (min-width: 961px) {
  #hamburger-menu-wrapper {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .seller-menu-section-wrapper {
    top: 0px;
  }
}

@media screen and (max-width: 540px) {
  .seller-menu-section-wrapper {
    top: 0px;
  }
}
