.product-content {
  padding: 20px;
}

.tab {
  /* color: #fff; */
  /* background-color: #f76b1a; */
  color: #f76b1a !important;
}

.my-tab {
  color: #f76b1a !important;
  border: none;
}

.my-tab:focus {
  border: none !important;
}

.accordion-toggle-text {
  color: #f76b1a;
  border: none;
  text-decoration: none;
}

.accordion-toggle-text:focus {
  border: none !important;
  color: #f76b1a;
}

.card-products {
  max-height: 500px;
  overflow-y: auto;
}

#dashboard-products-sm-screen {
  display: none;
}

@media screen and (max-width: 960px) {
  #dashboard-products-lg-screen {
    display: none;
  }

  #dashboard-products-sm-screen {
    display: block;
  }

  #dashboard-products-sm-screen {
    display: block;
  }
}

/* @media screen and (max-width: 960px) {

} */
