#seller-dashboard-menu {
  height: 100vh;
  width: 100%;
  margin: 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  /* bottom: 0px !important; */
  left: 0px;
}

#seller-dashboard-menu ul {
  list-style: none;
  padding: 50px 0px 50px 80px;
  color: #fff;
  height: 80%;
  overflow-y: auto;
}

.seller-menu-active {
  color: #f76b1a !important;
}

#seller-menu-items li {
  padding: 7px 7px;
}

#seller-menu-items li:hover {
  background-color: #000822;
  width: 100%;
}

#seller-menu-items li .link:hover {
  color: #f76b1a;
  /* display: flex; */
}

#seller-menu-items .link {
  display: flex;
  align-items: center;
}

#seller-menu-profile {
  height: 15%;
  width: 100%;
}

@media screen and (max-width: 960px) {
  #seller-dashboard-menu {
    display: none;
  }
}
