#dashboard-orders-sm-screen {
  display: none;
}

.seller-dashboard-wrapper {
  margin: 20px;
}

@media screen and (max-width: 960px) {
  #dashboard-orders-lg-screen {
    display: none;
  }

  #dashboard-orders-sm-screen {
    display: block;
  }

  .seller-dashboard-wrapper {
    margin: 0px;
  }
}
