#dashboard-orders-sm-screen {
  display: none;
}

@media screen and (max-width: 960px) {
  #dashboard-orders-lg-screen {
    display: none;
  }

  #dashboard-orders-sm-screen {
    display: block;
  }

  .seller-dashboard-wrapper {
    width: 90%;
    margin: auto;
  }

  .order-tab {
    background-color: #fff;
    width: 100vw;
  }
}
