.account-menu-container {
  padding-bottom: 1px;
  margin-bottom: 50px !important;
}

.account-menu-wrapper {
  height: 40px;
  width: 100%;
}

.navlink,
.navlink:hover {
  text-decoration: none !important;
  color: #000;
  display: block;
  width: 100% !important;
  padding: 20px;
}
.navlink:hover {
  font-weight: 500;
  background-color: #f8f9f9;
  color: #f76b1a !important;
}
.account-active,
.account-active:hover {
  color: #f76b1a !important;
  font-weight: 600;
  width: 100% !important;
  background-color: #ededed;
}

.account-logout-wrapper {
  text-align: center;
}

#account-logout {
  border-top: 1px solid #d4d4d4;
  background-color: #eee !important;
}

@media screen and (max-width: 960px) {
  .account-menu-container {
    display: none;
  }
}
