.buyer-order-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  border-left: 3px solid #f76b1a;
}

.buyer-orders-wrapper div {
  margin-bottom: 10px;
}

.order-item {
  display: flex;
  align-items: center;
  padding: 30px 10px;
  border-left: 3px solid #f76b1a;
}

.order-id {
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .orders-wrapper {
    margin-bottom: 60px;
  }
}
