.order-item {
  display: flex;
  align-items: center;
  padding: 30px 10px;
}

.order-id {
  font-weight: bold;
}

@media screen and (max-width: 960px) {
  .orders-wrapper {
    margin-bottom: 60px;
  }
}
