.individual-order-item {
  border-left: 3px solid #f76b1a;
  padding-left: 10px;
}

.individual-order-item .row div {
  display: flex;
  flex-direction: column;
}

.individual-order-item .row div p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

.individual-order-item .row div a {
  color: #f76b1a;
}

.individual-order-item .row div a:hover {
  color: #f76b1a;
  text-decoration: none;
}

@media screen and (max-width: 520px) {
  .individual-order-item .row div {
    padding: 0px 10%;
  }
  .individual-order-item .row div p {
    display: flex;
  }
}
