.accept-sell-request-btn {
  background-color: #f76b1a;
  color: #fff;
  border: none;
  border-radius: 0px;
}

.accept-sell-request-btn:hover {
  color: #fff;
}

.accept-sell-request-btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.img-1,
.img-2 {
  flex: 2;
}

.seller-images img {
  width: 100%;
}
