.admin-secondary-dashboard-header {
  height: 60px;
  background-color: #fff;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.1);
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 0px;
  display: flex;
  align-items: center;
  z-index: 2000;
}
.admin-hamburger-menu-wrapper {
  position: relative;
  height: 60px;
}

.admin-hamburger-menu {
  height: 60px;
  display: flex;
  align-items: center;
}

.admin-dashboard-sm-menu {
  position: absolute;
  left: -15px;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  top: 60px;
  background-color: white;
  z-index: 9001;
  max-height: calc(100vh - 80px);
  min-height: calc(100vh - 140px);
  padding: 20px 10px;
  font-size: 18px;
}

.admin-dashboard-sm-menu a {
  color: #000;
  padding: 5px 0px;
}

.admin-dashboard-sm-menu a:hover {
  text-decoration: none;
}

.admin-dashboard-sm-menu p {
  padding: 5px 0px;
}

.admin-dashboard-menu-lg-items {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-around;
  flex: 1;
  margin: 0;
}

.admin-dashboard-menu-lg-items li {
  width: 140px;
  /* background-color: red; */
  justify-content: center;
  height: 20px;
  position: relative;
}

.sellers-dropdown {
  min-width: 200px;
  background-color: #fff;
  display: none;
  position: absolute;
  top: 20px;
  left: 0px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding-top: 30px;
}

.sellers-dropdown p {
  padding: 5px 10px;
}

.sellers-dropdown p:hover {
  background-color: #eaecee;
}

.admin-dashboard-menu-lg-items li:hover .sellers-dropdown {
  display: block;
}

.admin-dashboard-menu-lg-items li a {
  color: #000;
  display: flex;
  align-items: center;
}

.admin-dashboard-menu-lg-items li a:hover {
  color: #f76b1a;
  text-decoration: none;
}

.admin-active-lg-link {
  color: #f76b1a !important;
}

@media screen and (min-width: 961px) {
  .admin-hamburger-menu-wrapper {
    display: none;
  }
}

@media screen and (max-width: 960px) {
  .admin-dashboard-menu-lg-items {
    display: none;
  }
}
