#admin-dashboard-header {
  height: 90px;
  display: flex;
  justify-content: space-between;
}

#admin-logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.admin-menu-items {
  flex: 2;
  display: flex;
  list-style: none;
  align-items: center;
  color: #fff;
}

@media screen and (max-width: 720px) {
  #admin-dashboard-header {
    display: none;
  }
}

@media screen and (max-width: 540px) {
  #admin-logo {
    display: none;
  }
}
