#add-category-btn-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.add-category-btn {
  border: none;
  background-color: #f76b1a;
  color: #fff;
}

.add-category-btn:hover {
  color: #fff;
}

.add-category-btn:focus {
  border: none;
  box-shadow: none;
  outline: none;
}

.edit-category-btn {
  background-color: #f76b1a;
  color: #fff;
  border: none;
  border-radius: 0px;
}

.edit-category-btn:hover {
  color: #ffffff;
}

.edit-category-btn:focus {
  box-shadow: none;
  outline: none;
}
