.form-input {
  width: 500px;
  margin: auto;
}

.form-input input,
.form-input select {
  height: 50px;
}

.form-input input,
.form-input textarea,
.form-input select {
  border: 1px solid #d4d4d4;
}

/* .form-input textarea {
  resize: none;
  border-radius: 40px;
} */

.form-input input:focus,
.form-input textarea:focus,
.form-input select:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid #d4d4d4;
}

.authenticate-field {
  border: 1px solid #eee;
  border-radius: 40px;
  height: 50px;
}

textarea {
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}
textarea::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.phone {
  height: 50px;
  border: 1px solid #eee;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  /* border-radius: 40px; */
}

.phone-prepend span {
  height: 50px;
  border: 1px solid #d4d4d4;
  border-top-left-radius: 40px !important;
  border-bottom-left-radius: 40px !important;
  border-radius: 40px;
}

@media screen and (max-width: 920px) {
  .form-input {
    width: 90vw !important;
    margin: auto;
  }
}
