.mpesa-error-guides {
  margin-left: 20px;
}

.mpesa-error-to-shop {
  border: none;
  color: #fff;
  background-color: #f76b1a;
}

.mpesa-error-to-shop:hover {
  color: #fff;
}

.mpesa-error-to-shop:focus {
  box-shadow: none;
  outline: none;
}
