#header-icons {
  flex: 2;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.icon {
  min-width: 150px;
  display: flex;
  align-items: center;
  font-size: 40px;
  justify-content: center;
}

.icon::before {
  margin: 0px;
}

.icon span {
  display: block;
  font-size: 15px;
}

.badge {
  font-size: 20px;
}

/* .icon:hover {
  color: #f76b1a;
} */

@media screen and (max-width: 960px) {
  #header-icons {
    display: none;
  }
}
