#header-search,
#account-header-search {
  height: 100%;
  flex: 5;
  display: flex;
  align-items: center;
  position: relative;
}

.header-input-search {
  height: 50px;
  border-radius: 30px;
  border: 1px solid #f76b1a !important;
  /* align-self: center !important; */
}

.header-input-search:focus {
  box-shadow: none;
  outline: none;
}

#header-search-btn {
  width: 120px;
  border: none;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #f76b1a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#header-search-btn span {
  font-size: 20px;
}

.search-output {
  height: auto;
  width: 100%;
  position: absolute;
  top: 65px;
  left: 0px;
  z-index: 100;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  border-radius: 10px;
  padding: 10px;
}

/* .search-output div{
  
} */

@media screen and (max-width: 960px) {
  #header-search {
    width: 100% !important;
    padding: 0px 5px;
  }

  #account-header-search {
    display: none;
  }

  .search-output {
    padding: 0px 10px;
    width: 100%;
    top: 60px;
  }

  .header-input-search {
    height: 40px;
  }

  #header-search-btn {
    width: 100px;
  }

  #header-search-btn span {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  #header-search {
    flex: 4 !important;
  }
}

@media screen and (max-width: 540px) {
  #header-search-btn {
    width: 80px;
  }
}
