.secondary-header {
  height: 30px;
  min-width: 100vw;
  position: relative;
  z-index: -10 !important;
  margin: auto;
}

#large-screen-secondary-header {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  padding: 0px 180px;
}

.secondary-header-active {
  color: #f76b1a !important;
  background-color: none !important;
  font-size: medium !important;
}

.secondary-header-link,
.secondary-header-link:hover {
  color: #f76b1a;
  text-decoration: none;
  font-size: 16px;
}

#small-screen-secondary-header {
  display: none;
}

.small-screen-secondary-header-items {
  height: 30px !important;
  width: 100vw;
  padding: 0px 10px;
}

.small-screen-secondary-header-items {
  overflow-y: hidden;
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.small-screen-secondary-header-items::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background-color: transparent;
}

.small-screen-secondary-header-link {
  display: inline-block;
  zoom: 1;
  float: none;
  margin: 0px 15px;
  font-size: 14px;
}

.small-screen-secondary-header-link,
.small-screen-secondary-header-link:hover {
  display: inline !important;
  color: #f76b1a;
  text-decoration: none;
}

/* @media screen and (max-width: 1024px) {
  #large-screen-secondary-header {
    padding: 0px 80px;
  }
} */

@media screen and (max-width: 1200px) {
  #large-screen-secondary-header {
    display: none !important;
  }

  #small-screen-secondary-header {
    display: block;
  }
}

/* @media screen and (max-width: 540px) {
  .owl-item {
    font-size: medium !important;
    min-width: 80px;
    width: auto;
    background-color: #00001e !important;
  }
} */
