#help-center-header {
  height: 85px;
  display: flex;
  align-items: center;
  padding: 0px 150px;
}

.helper-center-menu-items {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex: 4;
  margin: 0px;
}

.helper-center-menu-items li {
  margin: 0px 20px;
}

.helper-center-menu-items li a {
  color: #fff;
}

.helper-center-menu-items li a:hover {
  color: #f76b1a;
  text-decoration: none;
}

.help-center-active {
  color: #f76b1a;
}

#help-center-hamburger-wrapper {
  display: none;
}

@media screen and (max-width: 1140px) {
  #help-center-header {
    padding: 0px 20px;
    justify-content: space-between;
  }
}

@media screen and (max-width: 960px) {
  #help-center-header {
    padding: 0px 10px;
    justify-content: space-between;
  }

  #help-center-header-logo {
    flex: 0;
  }

  .helper-center-menu-items {
    display: none;
  }
  #help-center-hamburger-wrapper {
    display: block;
    /* flex: 1; */
  }
}
