#mini-menu {
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  width: 100vw;
  margin: 0px;
}

.mini-menu-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.tool-tip {
  display: flex;
  align-items: center;
  /* width: 100%; */
  background-color: transparent;
  width: 100px !important;
  margin-right: -200px;
  box-shadow: none !important;
  padding: 0px !important;
}

/* .Content-Container--xhjD8 {
  padding: 0px !important;
} */

#account-mini-link-wrapper {
  display: flex;
  width: 100px;
  align-items: center;
  justify-content: center;
}

.account-mini-links {
  height: 100px;
  background-color: #fff;
  flex-direction: column;
  z-index: 20000;
  display: flex;
  width: 100%;
  /* align-items: center; */
  justify-content: center;
}

.account-mini-links .primary-link {
  padding: 10px;
}

.mini-cart span {
  display: inline;
  padding: 0px;
}

.mini-menu-icon {
  font-size: 20px !important;
}

.mini-menu-icon .badge {
  font-size: 10px !important;
}

.mini-menu-item p {
  font-size: 13px !important;
}

.mini-menu-icon::before {
  margin: 0px !important;
}

@media screen and (max-width: 380px) {
  .mini-menu-item p {
    font-size: 10px !important;
  }
}
