#mini-menu{
    height:90px;
    position:fixed;
    bottom: 0px;
    background-color: #fff;
    width:100vw;
    margin: 0px;
}

.mini-menu-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:80x;
    background-color: aqua;
}


.mini-menu-icon::before{
    margin: 0px !important;
}


@media screen and (max-width:390px){
    .mini-menu-icon{
        font-size: 25px !important;
    }
}