#hero{
    padding:0px 40px;
    border-top: 1px solid #eeeeee;
    height:80vh;
    background-color: #f8f9f9;
}

@media screen and (max-width:960px){
    #hero{
        border: none;
        padding:0px;
        height:auto;
    }
}