#sidebar {
  height: 100%;
  padding: 0px;
  background-color: #fff;
}

@media screen and (max-width: 960px) {
  #sidebar {
    display: none;
  }
}

/* @media screen and (min-height: 950px) {
  .hero-carousel,
  .slider {
    height: calc(50vh - 20px);
  }
} */
